.side-bar
  .side-bar_user
    .side-bar_user-name
      TEST
    .side-bar_user-icon
      %i.fa.fa-cog
      %i.fa.fa-edit
  .side-bar_groups
    .side-bar_groups-length
      グループ総数（４）
    .side-bar_groups-name
      ・グループ名
    .side-bar_groups-name
      ・グループ名
  .side-bar_users
    .side-bar_users-length
      フレンド総数（２０）
    .side-bar_users-name
      ・ユーザー名
    .side-bar_users-name
      ・ユーザー名
  